<div class="article-container" [ngClass]="articleClasses">
    <div class="name">
        <h3>{{article.name}}</h3>
    </div>
    <div class="image"><img src="../{{article.imageUrl | defaultPhoto}}" routerLink="/article/{{article.id}}"></div>
    <div class="price" [ngClass]="priceClasses">{{article.price | formatPrice}}</div>
    <div class="quantity" *ngIf="article.isOnSale">
        <button class="minus" (click)="onChangeQuantity($event, -1)">-</button>
        <h3 class="quantity-text">{{article.quantityInCart}}</h3>
        <button class="plus" (click)="onChangeQuantity($event, 1)">+</button>
    </div>
</div>