.article-name .ng-valid,
.article-url .ng-valid,
.article-price .ng-valid,
.article-url .ng-dirty,
.article-name .ng-dirty,
.article-price .ng-dirty,
.article-url .ng-pristine,
.article-name .ng-pristine,
.article-price .ng-pristine,
.article-url .ng-touched,
.article-name .ng-touched,
.article-price .ng-touched  {
  background-color: lightgreen;
}

.article-name .ng-invalid,
.article-price .ng-invalid,
.article-url .ng-invalid {
    background-color: coral;
}

.article-name .ng-untouched,
.article-url .ng-untouched,
.article-price .ng-untouched {
    background-color: lightgray;
}

.red-message {
    color: coral;
}